.footer__copyright {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    margin: auto;
}

@media screen and (max-width: 568px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 17px;
    }
    
}